body{
    font-size: 62.5%;
    font-family: $roboto_font;
    color: $main_text_color;
}
header{
    
    img{
        width: 30em;
        display: block;
        margin: 7em auto 3em auto;
    }
    
    h1{
        font-size: 3em;
        background-color: lightgoldenrodyellow;
        font-weight: 600;
        text-align: center;
        color: $header_font_color;
        margin: 1em auto;
        
    }
}

.tagline {
    padding: 2em 0 2em 0;
    background-color: $main_text_color;

    h2{
        font-size: 2em;
        font-weight: 200;
        text-align: center;
        color: white;
    }
    strong{
        font-weight:600;
    }
}
.summary{
    font-size: 1.4em;
    text-align: center;
    width: 75%;
    margin: 1.5em auto;
}
.project_img{
    
}